---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Perdí a mi gatita">
	<main>
		
		<h1><span class="encontrada">Estoy buscando</span><br> Encontramos a <br><span class="text-gradient">¡Amelia!</span></h1>
		<img class="icono-gato" src="/icons8-cat-64.png" alt="Amelia" />
		

		<p id="update" class="instructions">
			<span class="update"><strong>¡LA ENCONTRAMOS!</strong></span><br> Gracias a todos los que nos ayudaron a rescatarla. <br> <strong> Amelia hoy duerme calentita en casa :)</strong>
		</p>
		<p class="instructions">
			Perdí a mi gatita Amelia. La vimos por última vez el martes 21/10. 
			<br><code>¡La rescatamos el 27/10!</code><br>
			<strong>No es el chisme que buscabas:</strong> pero es una causa noble.
		</p>
		<img src="/amelia-bano.webp" alt="La gatita en cuestion" class="amelia">
		
	</main>
	
</Layout>

<style>


	.encontrada {
		text-decoration-line: line-through;
		text-decoration-color: red ;
	}
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100vw - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1em;
		overflow-x: hidden;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		font-size: 6rem;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
		text-align: center;
		line-height: 2.5rem;
	}
	.instructions code {
		font-size: 1.5rem;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	.amelia {
		width: 100%;
		max-width: 80vw;
		height: auto;
		border-radius: 12px;
	}

	/* styles.css */

#whatsappShareButton {
    background-color: #25d366; /* WhatsApp green */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

#whatsappShareButton:hover {
    background-color: #1ebe57;
}

/* Update notification */
.update {
	font-size: 3rem;
}

#update {
	font-size: 2rem;
	background-color: #2aff3c;
}

</style>
